.edit-mailform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gmail-option {
    display: flex;
    align-items: center;
  }
  
  .gmail-option p {
    margin-right: 10px;
  }
  
  .gmail-option button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .gmail-option button:hover {
    color: #007bff;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 300px;
  }

  .input-container {
    display: flex; /* add flexbox */
    flex-wrap: wrap; /* allow wrapping */
    justify-content: center; /* center items horizontally */
  }
  
  button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    width: 100px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  .box {
    border: 1px solid #ccc; /* add a border to the box */
    padding: 1rem; /* add some padding to the box */
    width: 80%; /* set the width of the box */
    margin: 0 auto; /* center the box */
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0; /* remove the default margin from the heading */
  }
  
