.username {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .username-input {
    border: none;
    border-bottom: 2px solid #333;
    font-size: 16px;
    padding: 5px 0;
    transition: border-color 0.3s ease-in-out;
  }
  
  .username-label {
    position: absolute;
    top: -20px;
    font-size: 14px;
    color: #333;
  }
  
  .username-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .username-wrapper.active .username-label {
    display: none;
  }
  
  .username-wrapper.active .username-input {
    border-color: blue;
  }
  
  .username-edit-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .UserName-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  